<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-button (click)="onOpenMenu()">Open</ion-button> -->
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all-listing">All Listings</ion-segment-button>
    <ion-segment-button value="bookable-listing"
      >Bookable Listings</ion-segment-button
    >
  </ion-segment>

  <ion-grid *ngIf="filterPlaces.length <= 0 || !filterPlaces">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>No listings available for booking.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="filterPlaces.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{filterPlaces[0].title}}</ion-card-title>
            <ion-card-subtitle
              >{{filterPlaces[0].price | currency}} / Night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="filterPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{filterPlaces[0].description}}</p>
          </ion-card-content>
          <div style="text-align: right">
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="['/', 'places', 'tabs', 'discover', filterPlaces[0].id]"
              >More</ion-button
            >
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <!-- <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350">  -->
        <ion-list>
          <ion-item
            *ngFor="let placeElement of loadedPlaces.slice(1)"
            [routerLink]="['/', 'places', 'tabs', 'discover', placeElement.id]"
            detail
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="placeElement.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{placeElement.title}}</h2>
              <p>{{placeElement.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <!-- </cdk-virtual-scroll-viewport> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
